#headingid {
    text-align: center;
    color: rgb(252, 12, 12);
    border-radius: 100px;
    font-family: cursive;
}

#mylabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family :Georgia, 'Times New Roman', Times, serif;
}
#container{
    text-align: center;
}
.buttons{
    padding:10px 30px ;
    font-size: 1.5em;
    color: rgb(247, 247, 248);
    background-color: rgb(212, 20, 20);
    font-family: fantasy;
    border-radius: 5px;
    cursor: pointer;
    transition :background-color 0.25s;
}
.buttons:hover {
    background-color: blue;
}