#headingid {
    text-align: center;
    color: rgb(215, 16, 185);
}
#para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#mybutton {
    font-size: 2em;
    padding: 5px 25px;
}
body {
    text-align: center;
}
#container {
    font-size: 2em;
    padding: 25px 25px;
    
}